




<h1> {{nombre}}</h1>


<dl>

    <td> Nombre: </td>
    <dd> {{ nombre }} </dd>

    <td> Edad: </td>
    <dd> {{ edad }} </dd>

    <td> Funcion: </td>
    <!-- llamar al metodo -->
    <dd> {{ obtenerNombre() }} </dd>

    <td> Capitalizado: </td>
    <dd> {{ nombreCapitalizado }} </dd>

    <button (click)="cambiarNombre()">
        cambiar Heroe
    </button>

    <button (click)="cambiarEdad ()">
        cambiar edad
    </button>
</dl>

<!-- ///////////////////////////////////////////////////// -->
<!-- <!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <title>Ejemplo de tabla con título</title>
    <style>
      table, td {
        border:1px solid rgb(0, 0, 0);
      }
      table {
        width:100%;
      }
      td {
        padding:5px;
      }
    </style>
  </head>
  <body>
    <table>
      <caption>IRONMAN</caption>
      <tr>
        <td>Nombre:</td>
        <td>{{ nombre }}</td>
        
      </tr>
      <tr>
        <td>Edad:</td>
        <td>{{ edad }}</td>
        
      </tr>
      <tr>
        <td>Funcion:</td>
        <td>{{ obtenerNombre() }}</td>
        
      </tr>
      <tr>
        <td>Capitalizado:</td>
        <td>{{ nombreCapitalizado }}</td>
        
      </tr>
    </table>
  </body>
</html> -->

